<div *ngIf="mediaFiles && mediaFiles.length > 0" class="media-carousel">
  <div class="carousel-main">
    <img 
      *ngIf="currentMedia.mediaType === 'IMAGE'" 
      [src]="currentMedia.mediaUrl" 
      [alt]="'Media ' + (currentIndex + 1)"
      class="carousel-media"
    />
    
    <video 
      *ngIf="currentMedia.mediaType === 'VIDEO'" 
      [src]="currentMedia.mediaUrl" 
      controls 
      class="carousel-media"
    ></video>

    <span class="media-type-badge">
      <i [ngClass]="currentMedia.mediaType === 'IMAGE' ? 'fa-solid fa-image' : 'fa-solid fa-video'"></i>
      {{ currentMedia.mediaType }}
    </span>

    <div class="slide-counter">
      {{ currentIndex + 1 }} / {{ totalSlides }}
    </div>

    <div *ngIf="totalSlides > 1" class="carousel-controls">
      <button 
        class="nav-button nav-button-prev"
        (click)="previousSlide()"
        title="Previous slide"
      >
        <i class="fa-solid fa-chevron-left"></i>
      </button>

      <button 
        class="nav-button nav-button-next"
        (click)="nextSlide()"
        title="Next slide"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
      
      </div>
  </div>

  <div *ngIf="totalSlides > 1" class="carousel-indicators">
    <button 
      *ngFor="let media of mediaFiles; let i = index"
      class="indicator"
      [class.active]="i === currentIndex"
      (click)="goToSlide(i)"
    >
      <span class="indicator-dot"></span>
    </button>
  </div>
</div>